@font-face {
	font-family: 'Aldrich';
	src: url('font/Aldrich.ttf');
}

canvas {
	position: absolute;
	top: 75px;
	left: 50%;
	margin-left: -50px;
}

h1 {
	position: absolute;
	top: 220px;
	left: 50%;
	width: 262px;
	margin-left: -131px;
	font-family: 'Aldrich';
}

a {
	text-decoration: none;
	color: #9BF4AA;
	transition: all 1s;
}

a:hover {opacity: 0.5;}